<div class="about">
  <h2>About this project and me</h2>
    <p>
        This app was created to test on heroku. I am a social software development enthousiast. PR responsible for student organization HSC 't Wielke. Currently in the second year of a three year applied information technology degree. Looking for a challenging internship abroad. 
      </p>
      <img height="25%" width="25%" src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/48359822_1104251413072272_3819253058982903808_n.jpg?_nc_cat=105&_nc_oc=AQkSEGdH0NwnLQVV2CeLG727G5xOQndpMqDcJhZQcrJpWzkrWCn72UPAerrYODgRSBA2CpMQmG-HO3WPp2EOLCj6&_nc_ht=scontent-bru2-1.xx&oh=f780ea95d0c5568c9f729996bf6f7f8d&oe=5DAA19DB">      
</div>

